<aside class="sidebar">
  <!-- Logo -->
  <div class="sidebar__logo">
    <app-logo />
    Agro-CRM
  </div>

  <nav class="sidebar__nav">
    <ul>
      <li class="nav__item" *appHasRole="['ADMIN', 'AGRONOMIST', 'MANAGER']">
        <a routerLink="/dashboard" routerLinkActive="nav__item--active">
          <mat-icon>dashboard</mat-icon>Dashboard
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN', 'AGRONOMIST']">
        <a routerLink="/farmers" routerLinkActive="nav__item--active">
          <mat-icon>groups</mat-icon>Farmers
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN', 'AGRONOMIST', 'MANAGER']">
        <a routerLink="/fields" routerLinkActive="nav__item--active">
          <mat-icon>map</mat-icon>
          Fields
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN', 'AGRONOMIST', 'MANAGER']">
        <a routerLink="/crops" routerLinkActive="nav__item--active">
          <mat-icon>eco</mat-icon>Crops
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN', 'AGRONOMIST']">
        <a routerLink="/equipment" routerLinkActive="nav__item--active">
          <mat-icon>agriculture</mat-icon>Equipment
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN', 'AGRONOMIST']">
        <a routerLink="/tasks" routerLinkActive="nav__item--active">
          <mat-icon>assignment</mat-icon>Tasks
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN', 'AGRONOMIST']">
        <a routerLink="/reports" routerLinkActive="nav__item--active">
          <mat-icon>bar_chart</mat-icon>Reports
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN']">
        <a routerLink="/users" routerLinkActive="nav__item--active">
          <mat-icon>person</mat-icon>Users
        </a>
      </li>
      <li class="nav__item" *appHasRole="['ADMIN']">
        <a routerLink="/settings" routerLinkActive="nav__item--active">
          <mat-icon>manage_accounts</mat-icon>Settings
        </a>
      </li>
    </ul>
  </nav>

  <!-- <div class="sidebar__season">
      <div class="sidebar__season-label">Сезон 2025</div>
      <div class="sidebar__season-dates">1 янв 2025 – 31 дек 2025</div>
    </div> -->

  <div class="sidebar__user">
    <div class="sidebar__avatar">AD</div>
    <div>
      <div class="sidebar__user-name">Agro Farm LLC</div>
      <div class="sidebar__user-role">{{ userInfo()?.username }}</div>
    </div>
  </div>
</aside>