:host {
    display: block;
    height: 100%;
}

.farmer-list-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    .mat-mdc-text-field-wrapper {
        height: 45px !important;
    }

    .mdc-text-field--outlined {
        height: 45px !important;
    }
}

.farmers-layout {
    gap: 20px;
}